<!-- 引入布局文件 -->
<layout name="public/layout"  replace="{__CONTENT__}" />
<!-- 引入顶部导航栏 -->
<include file="Public/header" />

<!-- 引入页面样式文件 -->
<link rel="stylesheet" href="__PUBLIC__/Home/Style/list.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/Style/common.css" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Home/Js/list.js"></script>

<style type="text/css">
	#cur_search_condition{margin:10px;padding:5px;padding-right:0;}
	#cur_search_condition span{border:1px solid #F00;padding:5px;margin:5px;}
	#cur_search_condition span a:hover{background:#F00;color:#FFF;padding:5px;margin-right:0;}
	/*设置分页当前页的样式*/
	.page span.current{
	    border: 1px solid #ccc;
	    border-radius: 3px;
	    font-size: 14px;
	    padding: 4px 10px 5px;
	    background: #005aa0 none repeat scroll 0 0;
    	color: #fff;
    	text-decoration: none;
	}

</style>
<div style="clear:both;"></div>

<!-- 列表主体 start -->
<div class="list w1210 bc mt10">
	<!-- 面包屑导航 start -->
	<div class="breadcrumb">
		<h2>当前位置：<a href="">首页</a> > <a href="">电脑、办公</a></h2>
	</div>
	<!-- 面包屑导航 end -->

	<!-- 左侧内容 start -->
	<div class="list_left fl mt10">
		<!-- 分类列表 start -->
		<div class="catlist">
			<h2>电脑、办公</h2>
			<div class="catlist_wrap">
				<div class="child">
					<h3 class="on"><b></b>电脑整机</h3>
					<ul>
						<li><a href="">笔记本</a></li>
						<li><a href="">超极本</a></li>
						<li><a href="">平板电脑</a></li>
					</ul>
				</div>

				<div class="child">
					<h3><b></b>电脑配件</h3>
					<ul class="none">
						<li><a href="">CPU</a></li>
						<li><a href="">主板</a></li>
						<li><a href="">显卡</a></li>
					</ul>
				</div>

				<div class="child">
					<h3><b></b>办公打印</h3>
					<ul class="none">
						<li><a href="">打印机</a></li>
						<li><a href="">一体机</a></li>
						<li><a href="">投影机</a></li>
						</li>
					</ul>
				</div>

				<div class="child">
					<h3><b></b>网络产品</h3>
					<ul class="none">
						<li><a href="">路由器</a></li>
						<li><a href="">网卡</a></li>
						<li><a href="">交换机</a></li>
						</li>
					</ul>
				</div>

				<div class="child">
					<h3><b></b>外设产品</h3>
					<ul class="none">
						<li><a href="">鼠标</a></li>
						<li><a href="">键盘</a></li>
						<li><a href="">U盘</a></li>
					</ul>
				</div>
			</div>
			
			<div style="clear:both; height:1px;"></div>
		</div>
		<!-- 分类列表 end -->
			
		<div style="clear:both;"></div>	

		<!-- 新品推荐 start -->
		<div class="newgoods leftbar mt10">
			<h2><strong>新品推荐</strong></h2>
			<div class="leftbar_wrap">
				<ul>
					<li>
						<dl>
							<dt><a href=""><img src="__PUBLIC__/Home/Images/list_hot1.jpg" alt="" /></a></dt>
							<dd><a href="">美即流金丝语悦白美颜新年装4送3</a></dd>
							<dd><strong>￥777.50</strong></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href=""><img src="__PUBLIC__/Home/Images/list_hot2.jpg" alt="" /></a></dt>
							<dd><a href="">领券满399减50 金斯利安多维片</a></dd>
							<dd><strong>￥239.00</strong></dd>
						</dl>
					</li>

					<li class="last">
						<dl>
							<dt><a href=""><img src="__PUBLIC__/Home/Images/list_hot3.jpg" alt="" /></a></dt>
							<dd><a href="">皮尔卡丹pierrecardin 男士长...</a></dd>
							<dd><strong>￥1240.50</strong></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<!-- 新品推荐 end -->

		<!--热销排行 start -->
		<div class="hotgoods leftbar mt10">
			<h2><strong>热销排行榜</strong></h2>
			<div class="leftbar_wrap">
				<ul>
					<li></li>
				</ul>
			</div>
		</div>
		<!--热销排行 end -->

		<!-- 最近浏览 start -->
		<div class="viewd leftbar mt10">
			<h2><a href="javascript:get_history_goods(1);">清空</a><strong>最近浏览过的商品</strong></h2>
			<div id="history_goods" class="leftbar_wrap">
			</div>
		</div>
		<!-- 最近浏览 end -->
	</div>
	<!-- 左侧内容 end -->

	<!-- 列表内容 start -->
	<div class="list_bd fl ml10 mt10">
		<!-- 热卖、促销 start -->
		<!-- <div class="list_top"> -->
			<!-- 热卖推荐 start -->
			<!-- <div class="hotsale fl">
				<h2><strong><span class="none">热卖推荐</span></strong></h2>
				<ul>
					<li>
						<dl>
							<dt><a href=""><img src="__PUBLIC__/Home/Images/hpG4.jpg" alt="" /></a></dt>
							<dd class="name"><a href="">惠普G4-1332TX 14英寸笔记本电脑 （i5-2450M 2G 5</a></dd>
							<dd class="price">特价：<strong>￥2999.00</strong></dd>
							<dd class="buy"><span>立即抢购</span></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href=""><img src="__PUBLIC__/Home/Images/list_hot3.jpg" alt="" /></a></dt>
							<dd class="name"><a href="">ThinkPad E42014英寸笔记本电脑</a></dd>
							<dd class="price">特价：<strong>￥4199.00</strong></dd>
							<dd class="buy"><span>立即抢购</span></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href=""><img src="__PUBLIC__/Home/Images/acer4739.jpg" alt="" /></a></dt>
							<dd class="name"><a href="">宏碁AS4739-382G32Mnkk 14英寸笔记本电脑</a></dd>
							<dd class="price">特价：<strong>￥2799.00</strong></dd>
							<dd class="buy"><span>立即抢购</span></dd>
						</dl>
					</li>
				</ul>
			</div> -->
			<!-- 热卖推荐 end -->

			<!-- 促销活动 start -->
			<!-- <div class="promote fl">
				<h2><strong><span class="none">促销活动</span></strong></h2>
				<ul>
					<li><b>.</b><a href="">DIY装机之向雷锋同志学习！</a></li>
					<li><b>.</b><a href="">京东宏碁联合促销送好礼！</a></li>
					<li><b>.</b><a href="">台式机笔记本三月巨惠！</a></li>
					<li><b>.</b><a href="">富勒A53g智能人手识别鼠标</a></li>
					<li><b>.</b><a href="">希捷硬盘白色情人节专场</a></li>
				</ul>

			</div> -->
			<!-- 促销活动 end -->
		<!-- </div> -->
		<!-- 热卖、促销 end -->
		
		<div style="clear:both;"></div>
		<!-- 商品筛选 start -->
		<div id="cur_search_condition">
			当前搜索条件：
			<?php foreach($curSearchConditon as $key => $value) : ?>
			    <span>
					{$key}：{$value.value}
					<a href="{$value.url}" title="">X</a>
				</span>
			<?php endforeach ;?>
		</div>
		<div class="filter mt10">
			<h2>
				<!-- <a href="javascript:reset_search();">重置筛选条件</a>  -->
				<strong>商品筛选</strong>
			</h2>
			<div class="filter_wrap">
				<!-- 处理商品的品牌 -->
				<if condition="!isset($searchConditionList['brand_id']) AND ($reqGoodsList neq false)">
					<dl>
						<dt class="hide-dl">品牌：</dt>
						<volist name="searchCondition['brand']" id="vo">
						    <dd><a href="__SELF__/brand_id/{$vo.brand_id}_{$vo.brand_name}">{$vo.brand_name}</a></dd>
						</volist>

<!-- 						<div class="f-ext">
			                 <a  class="f-check brand" href="javascript:;"><i></i>多选</a> 
			            </div>
			            <div class="g-btns">
			            	<a  href="javascript:;" class="u-confirm" onClick="submitMoreFilter('brand',this);">确定</a>
			                <a href="javascript:;" class="u-cancel brand">取消</a>
			            </div> -->

					</dl>

				</if>
				<!-- 处理商品的价格 -->
				<if condition="!isset($searchConditionList['price'])  AND ($reqGoodsList neq false)">
					<dl class="hide-dl">
						<dt>价格：</dt>
						<volist name="searchCondition['price']" id="vo">
						    <dd><a href="__SELF__/price/{$vo}">{$vo}</a></dd>
						</volist>

						<li class="m-pricebox">
							<form action="__SELF__" method="post" id="price_form" onsubmit="return false">
								<input type="text" class="u-pri-start" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" name="start_price" id="start_price" /> -
								<input type="text" class="u-pri-end" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"  name="end_price" id="end_price" />
								<span style="cursor:pointer;" class="z-btn ensure03 u-btn-pri" href="javascript:;" onClick="if($('#start_price').val() !='' && $('#end_price').val() !='' ) goods_search_price();" >确认</span>
							</form>      
						</li>

					</dl>
				</if>	
				<!-- 处理商品的属性 -->
				<volist name="searchCondition['attr']" id="vo">
					<?php $attrName = "attr_".$vo["attr_id"];?>
					<if condition="!isset($searchConditionList[$attrName])">
						<dl class="hide-dl">
							<dt>{$vo.attr_name}：</dt>
							<?php $attrList = explode(',',$vo["attr_value"]);?>
							<volist name="attrList" id="v">
						    	<dd><a href="__SELF__/attr_{$vo.attr_id}/{$vo.attr_name}_{$v}">{$v}</a></dd>
							</volist>

<!-- 							<div class="f-ext">
								<a  class="f-check " href="javascript:;"><i></i>多选</a>
							</div>
							<div class="g-btns">
								<a  href="javascript:;" class="u-confirm" onClick="submitMoreFilter('spec',this);">确定</a>
								<a href="javascript:;" class="u-cancel ">取消</a>
							</div> -->

						</dl>
					</if>
				</volist>
				<a  class="f-out-more" href="javascript:;" style="float: right;padding-right: 20px;padding-top: 5px;">更多选项<i></i></a>
			</div>
		</div>
		<!-- 商品筛选 end -->
		
		<div style="clear:both;"></div>

		<!-- 排序 start -->
		<div class="sort mt10">
			<dl>
				<dt>选择排序：</dt>

				<dd id="goods_id" class="search_condition " onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">默认 <span id="goods_id_sort"></span></a>
				</dd>

				<dd id="goods_shop_price" class="search_condition " onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">按价格 <span id="goods_shop_price_sort"></span></a>
				</dd>

				<dd id="goods_view_amount" class="search_condition " onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">按浏览量 <span id="goods_view_amount_sort"></span></a>
				</dd>
				
				<dd id="goods_sale_amount" class="search_condition" onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">按销量 <span id="goods_sale_amount_sort"></span></a>
				</dd>

				<dd id="goods_comment_amount" class="search_condition " onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">按评论数 <span id="goods_comment_amount_sort"></span></a>
				</dd>

				<dd id="goods_comment_score_sort" class="search_condition " onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">按评分 <span id="goods_comment_score_sort"></span></a>
				</dd>

				<dd id="addtime" class="search_condition " onclick="goods_sort_order(this);">
					<a href="javascript:void(0);">按上架时间 <span id="addtime_sort"></span></a>
				</dd>
			</dl>
		</div>
		<!-- 排序 end -->
		
		<div style="clear:both;"></div>

		<!-- 商品列表 start-->
		<div id="goods_search_list" class="goodslist mt10">
			<ul>
				<volist name="reqGoodsList" id="vo">
					<li>
						<dl>
							<dt>
								<a href="{:U('Goods/goods',array('id' => $vo['goods_id']))}"><img src="{$vo.goods_thumb_small}" alt="" /></a>
							</dt>
							<dd>
								<a href="{:U('Goods/goods',array('id' => $vo['goods_id']))}">{$vo.goods_name}</a>
							</dd>
							<dd>
								<strong>￥{$vo.goods_shop_price}</strong>
							</dd>
							<dd>
								<a href="{:U('Goods/goods',array('id' => $vo['goods_id']))}"><em>已有{$vo.goods_comment_amount}人评价</em></a>
							</dd>
						</dl>
					</li>
				</volist>

			</ul>
		</div>
		<!-- 商品列表 end-->

		<!-- 分页信息 start -->
		<div class="page mt20" style="font-size: 14px;">
			{$pageShow}
		</div>
		<!-- 分页信息 end -->
	</div>
	<!-- 列表内容 end -->
</div>
<!-- 列表主体 end-->

<div style="clear:both;"></div>

<!-- 引入底部导航栏  -->
<include file="Public/bottomnav" />

<!-- 页面的javascript代码 -->
 <script type="text/javascript">
 /*******************获取用户的最近的浏览商品的历史记录**********************/
	function get_history_goods(c){
		var oid = c === undefined ? 0 : c ;
		//ajax动态获取商品浏览历史数据
		$.ajax({
            type : "GET",
            url : "<?php echo U('Home/Goods/ajaxGetHistoryGoods', '', FALSE); ?>/oid/"+oid,
            success : function(data){
                //将用户浏览的历史商品展示出来
                $("#history_goods").html("");
                $("#history_goods").append(data);
            }
        });
	}
 /************处理商品筛选排序*********************/
 	//处理页面加载完毕，默认选中排序字段和默认选中排序方式
 	function goods_search(){
 		var sort = "{$searchConditionList['sort']}" == "" ? "goods_id" : "{$searchConditionList['sort']}";
 		var order = "{$searchConditionList['sort_order']}" == "" ? "↓" : "{$searchConditionList['sort_order']}";
 		//如果get的url参数中有包含sort_order参数
 		if(order !== "↓"){
 			order = "{$searchConditionList['sort_order']}" == "desc" ? "↓" : "↑";
 		}
 		//判断当前字段是否存在
 		$("#"+sort).addClass("cur");
 		$("#"+sort+"_sort").html(order);
 	}

 	//处理用户点击选择排序方式
 	function goods_sort_order(a){
 		//获取当前的选中的选项
 		var sort = $(a).attr("id");
 		var curUrl = "{$searchConditionList['url']}";
 		var curSort = "{$searchConditionList['sort']}" === "" ? "goods_id" : "{$searchConditionList['sort']}";
 		var curOrder = "{$searchConditionList['sort_order']}" === "" ? "desc" : "{$searchConditionList['sort_order']}";

 		//判断当前的操作，拼接get请求的url地址
 		if(sort == curSort){
 			//如果用户点击的字段和url中的字段一致
 			var order = curOrder === "desc" ? "asc" : "desc" ;
 			var url = curUrl +"/sort/"+ sort +"/sort_order/"+ order;
 		}else{
 			//如果用户点击的字段和当前url字段不一致
 			var url = curUrl +"/sort/"+sort +"/sort_order/"+ curOrder;
 		}
 		//利用js代码，进行get请求跳转
 		location.href = url ;
 	}
/************处理用户自定义商品搜索价格*********************/
	function goods_search_price(){
		var startPrice = $("#start_price").val();
		var endPrice = $("#end_price").val();
		var curUrl = "{$searchConditionList['url']}";
		var curSort = "{$searchConditionList['sort']}" === "" ? "goods_id" : "{$searchConditionList['sort']}";
 		var curOrder = "{$searchConditionList['sort_order']}" === "" ? "desc" : "{$searchConditionList['sort_order']}";
		var url = curUrl +"/price/"+startPrice+"--"+endPrice+"/sort/"+curSort+"/sort_order/"+curOrder;
		//利用js代码，进行get请求跳转
 		location.href = url ;
	}
/************更多类别属性筛选*********************/
	$('.f-out-more').click(function(){
		$('.hide-dl').each(function(i,o){
			if(i>7){
				var attrdisplay = $(o).css('display');
				if(attrdisplay == 'none'){
					$(o).css('display','block');
				}
				if(attrdisplay == 'block'){
					$(o).css('display','none');
				}	
			}
		});
		if($(this).hasClass('checked')){
			//如果当前是展开状态
			$(this).removeClass('checked').html('收起');
		}else{
			//如果当前是收起状态
			$(this).addClass('checked').html('更多选项');
		}
	})
/************************多选框************************/
$('.f-check').click(function(){
	var _this = this;
	var st = 0;
	//关闭前一个多选框
	if(cancelBtn != null){
		$(cancelBtn).parent().siblings('ul').removeClass('z-show-more');
		$(cancelBtn).parent().siblings('ul').find('li >a').each(function(i,o){
			$(o).removeClass('select selected');
			$(o).attr('href',$(o).data('href'));
			$(o).children('i').removeClass('selected').css('display','');
			$(o).unbind('click');
		});		
		$(cancelBtn).parent().siblings('.f-ext').show().children('a').removeClass('checked');
		$(cancelBtn).parent().hide();
		$(cancelBtn).siblings().removeClass('u-confirm01');
	}
	cancelBtn = $(_this).parent().siblings('div').find('.u-cancel');
	
	//打开多选框
	$(_this).addClass('checked');
	$(_this).siblings().addClass('checked');
	$(_this).parent().siblings('.g-btns').show();
	$(_this).parent().siblings('ul').addClass('z-show-more');
	$(_this).parent().siblings('ul').find('li>a').each(function(i,o){
		$(o).addClass('select');
		$(o).children('i').css('display','inline');
		$(o).attr('href','javascript:;');
		$(o).bind('click',function(){			
			if($(o).hasClass('selected')){
				$(o).removeClass('selected');
				$(o).children('i').removeClass('selected');
				st--;
			}else{
				$(o).addClass('selected');
				$(o).children('i').addClass('selected');
				$(_this).parent().siblings('.g-btns').children('.u-confirm').addClass('u-confirm01');
				st++;
			}
			//如果没有选中项,确定按钮点不了
			if(st==0){
				$(_this).parent().siblings('.g-btns').children('.u-confirm').removeClass('u-confirm01');
			}
		});
	});
	$(_this).parent().hide();
})
/************************取消多选************************/
$('.g-btns .u-cancel').each(function(){
	$(this).click(function(){
		$(this).parent().siblings('ul').removeClass('z-show-more');
		$(this).parent().siblings('ul').find('li >a').each(function(i,o){
			$(o).removeClass('select selected');
			$(o).attr('href',$(o).data('href'));
			$(o).children('i').removeClass('selected').css('display','');
			$(o).unbind('click');
		});
		$(this).parent().siblings('.f-ext').show().children('a').removeClass('checked');
		$(this).parent().hide();
		$(this).siblings().removeClass('u-confirm01');
	});
})

/************************点击多选确定按钮************************/
// t 为类型  是品牌 还是 规格 还是 属性
// btn 是点击的确定按钮用于找位置
	 get_parment = <?php echo json_encode($_GET); ?>;	
	function submitMoreFilter(t,btn){
		// 没有被勾选的时候
		if(!$(btn).hasClass("u-confirm01"))
			return false;
			
		// 获取现有的get参数		
		var key = ''; // 请求的 参数名称
		var val = new Array(); // 请求的参数值
		$(btn).parent().siblings(".f-list").find("li > a.selected").each(function(){
		   key = $(this).data('key');
		   val.push($(this).data('val'));
		});
		//parment = key+'_'+val.join('_');

		// 品牌
		if(t == 'brand'){
			get_parment.brand_id = val.join('_');
		}
		// 规格
		if(t == 'spec'){
			if(get_parment.hasOwnProperty('spec')){		
				get_parment.spec += '@'+key+'_'+val.join('_');
			}else{		
				get_parment.spec = key+'_'+val.join('_');
			}		
		}
		// 属性
		if(t == 'attr'){
			if(get_parment.hasOwnProperty('attr')){		
				get_parment.attr += '@'+key+'_'+val.join('_');
			}else{		
				get_parment.attr = key+'_'+val.join('_');
			}		
		}
		// 组装请求的url	
		var url = '';
		for( var k in get_parment ){ 
			url += "&"+k+'='+get_parment[k];
		} 
		location.href ="/index.php?m=Home&c=Goods&a=goodsList"+url;
	}
/***************页面加载完成，触发相关事件*******************/		
    $(document).ready(function(){
    	//当页面加载完毕后,获取商品浏览历史记录
    	get_history_goods();
    	//当页面加载完成，触发筛选条件，默认筛选条件是收起状态
    	$('.f-out-more').trigger('click');
    	//当页面加载完成，触发选中当前的选择条件
    	goods_search();
    });
 </script>