* {
    border: medium none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.layout {
    margin: 0 auto;
    width: 1200px;
}
.pa-to-10 {
    padding-top: 10px;
}

.layout::after {
    clear: both;
    content: "";
    display: block;
}

.wi940 {
    width: 940px;
}
.fr {
    float: right;
}
.wddd {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
}
.he50 {
    height: 50px;
}
.fl {
    float: left;
}
.ddd-h2 h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    padding: 8px 0 0 2px;
}
.wddd-li {
    padding: 18px 3px 30px;
}
.wddd-li ul::after {
    clear: both;
    content: "";
    display: table;
}
ul, ol {
    list-style: outside none none;
}
.wddd-li ul li {
    float: left;
    font-size: 14px;
    margin: 0 20px;
}
.wddd-red a {
    color: #ca151e;
}
a {
    color: #666;
    text-decoration: none;
}
.wddd-li ul li a em {
    color: #ca151e;
    margin-left: 4px;
}
em, i {
    font-style: normal;
}
.ov-in {
    overflow: inherit;
}
.list-group-title {
    background-color: #fafafa;
    margin: 0 -1px;
    padding: 13px 0;
}
.merge-tab {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}
table {
    border-collapse: collapse;
    color: #333;
    font-size: 12px;
}
.merge-tab tr th:first-child {
    border: 0 none;
}
th.borsdjk {
    border-right: 1px solid #fff;
}
.merge-tab th {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    text-align: center;
}
.wi120 {
    width: 120px;
}

element.style {
    width: 345px;
}
.merge-tab th.col-pro {
    border-left: medium none #f5f5f5;
}
.col-pay, .col-price {
    width: 113px;
}
.col-quty {
    width: 74px;
}
.wi139 {
    width: 139px;
}
.merge-tab tr th:last-child {
    border: 0 none;
}
.merge-tab th.col-operate {
    border-right: 1px solid #fff;
}
.col-operate {
    width: 138px;
}
.ma-0--1 {
    margin: 0 -1px;
}

.o-inff {
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 17px;
    padding: 23px 0 10px;
}
.o-info {
    font-family: arial,"微软雅黑";
    line-height: 1.2;
}
.fl {
    float: left;
}
.ve-al-mi {
    vertical-align: middle;
}
.o-ch {
    margin: -2px 6px 0 8px;
}
.fo-si-14 {
    font-size: 14px;
}
.ma-ri-15 {
    margin-right: 15px;
}
.co-888 {
    color: #888;
}
.co-36c {
    color: #36c;
}
.te-al {
    text-align: center;
}
.fr {
    float: right;
}
.o-pro {
    font-family: arial,"微软雅黑";
    line-height: 1.2;
}
.o-pro table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}
.o-pro tbody td.col-pro-img {
    border-right: 1px solid #fff;
    position: relative;
    width: 120px;
}
.o-pro tbody td {
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #fff;
    border-right: 1px solid #f2f2f2;
    padding: 10px 0;
    text-align: center;
}
.o-pro img {
    height: 70px;
    width: 70px;
}
.o-pro tbody td.te-al-le {
    text-align: left;
}
.te-al-le {
    text-align: left;
}
.p-name {
    float: left;
    margin-bottom: 18px;
    padding: 4px 0 0 15px;
    width: 283px;
}
.p-name a {
    display: block;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
tr td.litz-pa {
    line-height: 25px;
    padding-left: 40px;
}
.co-red {
    color: #ca141d;
}

.fo-si-18 {
    font-size: 18px;
}
.o-pro tbody td.col-operate {
    border-right: medium none #fff;
}
.p-link {
    padding: 4px 0;
}
.p-link a {
    color: #36c;
}

.p-button {
    padding: 5px 0;
}
.hb-merge {
    background-color: #ca151e;
    border: 1px solid #ca151e;
    color: #fff !important;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 118px;
}
.di-in-bl {
    display: inline-block;
}