<!-- 引入布局文件 -->
<layout name="public/layout"  replace="{__CONTENT__}" />
<!-- 引入顶部导航栏 -->
<include file="Public/header" />

<!-- 引入页面样式文件 -->
<link rel="stylesheet" href="__PUBLIC__/Home/Style/userPass.css" type="text/css">

<div style="clear:both;"></div>

<div class="uc_body pa-to-30 user_pass">
    <div class="uc_body_form">
        <form action="" method="post" onsubmit="return false">
            <table class="changeAccount_theme">
                <tbody>
                <tr class="tr_height">
                    <td class="cl_left fo-si-12" align="right">
                        <label class="fo-si-12">注册邮箱：</label>
                    </td>
                    <td class="cl_middle">
                        <input type="text" class="imput_text text_width foce" id="reg_mail" name="reg_mail" size="50" />
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="tr_height">
                    <td colspan="3" style="height:120px;" align="center" valign="middle">
                        <input type="submit" class="btn_midefy" id="btn_next" onclick="reset_password();" value="发送邮件，重置密码" >
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<!-- 引入底部导航栏  -->
<div style="clear:both;"></div>

<include file="Public/bottomnav" />

<!-- 页面的js代码 -->
<script type="text/javascript">
/****************ajax动态验证邮箱，发送邮箱验证链接********************/
    function reset_password(){
        var reg_mail = $("#reg_mail").val();
        var mailReg=new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        //邮箱为空
        if(reg_mail === ""){
            alert("注册邮箱不能为空");
            return false;
        }
        //邮箱格式错误
        if(!mailReg.test(reg_mail)){
            alert("注册邮箱格式错误");
            return false;
        }
        $.ajax({
            type    : "POST",
            data    : {id: 2 , reg_mail:reg_mail },
            dataType: "json",
            url     : "<?php echo U('Home/User/forgetPassword', '', FALSE); ?>",
            success : function(data){
                //返回邮件发送状态，提示用户下一步操作
                $(data["retMess"]).each(function(k,v){
                    alert(v);
                });
                if((data["retCode"] == 1) && (data["url"] !== undefined)){
                    window.top.location.href =data["url"];
                }
            }
        });
    }
</script>