<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Admin/Style/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/Style/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('goodsCat')}">商品分类</a></span>
    <span class="action-span1"><a href="{:U('Admin/Admin/index')}" target="_top">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加分类 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form action="__SELF__" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">分类名称:</td>
                <td>
                    <input type='text' name='cat_name' maxlength="20" value='{$catList.cat_name}' size='30' /> <font color="red">*</font>
                </td>
            </tr>
            <!-- 需要调用Model模型类中的getTree()方法获取树状结构 -->
            <tr>
                <td class="label">上级分类:</td>
                <td>
                    <select name="parent_id">
                        <option value="0">顶级分类</option>
                        <volist name="cat" id="vo">
                            <option value="{$vo.cat_id}" <if condition="$vo['cat_id'] eq $catList['parent_id']">selected="selected"</if>>{:str_repeat('&nbsp;',3*$vo['level'])}{$vo.cat_name}</option>
                        </volist>
                    </select>
                    <span class="notice-span" style="display:block; color:red ;font-weight:bold "  id="warn_brandlogo"><if condition="$catList['parent_id'] neq ''"><input type="checkbox" name="remove_child" value="是" />移动当前分类下所有子类，到指定分类移动？<else/>请选择分类的上级分类</if>
                </td>
            </tr>
            <tr>
                <td class="label">排序:</td>
                <td>
                    <input type="text" name='cat_sort'  value="<if condition="($catList['cat_sort'] neq '')">{$catList['cat_sort']}<else/>50</if>" size="15" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示:</td>
                <td>
                    <input type="radio" name="is_show" value="是"  <if condition="($catList['is_show'] eq '是') OR ($catList['is_show'] eq null)">checked="checked"</if>/> 是 
                    <input type="radio" name="is_show" value="否" <if condition="$catList['is_show'] eq '否'">checked="checked"</if>  /> 否
                </td>
            </tr>
            <tr>
            <tr>
                <td class="label">加入推荐:</td>
                <td>
                    <input type="radio" name="is_recommend" value="是" <if condition="$catList['is_recommend'] eq '是'">checked="checked"</if>  /> 是
                    <input type="radio" name="is_recommend" value="否"  <if condition="($catList['is_recommend'] eq '否') OR ($catList['is_recommend'] eq '')">checked="checked"</if>/> 否 
                </td>
            </tr>
                <td class="label">导航栏显示:</td>
                <td>
                    <input type="radio" name="is_navbar" value="是"  <if condition="($catList['is_navbar'] eq '是') OR ($catList['is_navbar'] eq '')">checked="checked"</if>/> 是 
                    <input type="radio" name="is_navbar" value="否" <if condition="$catList['is_navbar'] eq '否'">checked="checked"</if>  /> 否
                </td>
            </tr>
            <tr>
                <td class="label">分类分组:</td>
                <td>
                    <input type="text" name="cat_group" value="<if condition="($catList['cat_group'] neq '')">{$catList['cat_group']}<else/>0</if>" size="30">
                </td>
            </tr>
            <tr>
                <td class="label">分类图片:</td>
                <td>
                    <input type="file" name="cat_image" size="35" />
                </td>
            </tr>
            <tr>
                <td class='label'>当前图片:</td>
                <td>
                    <a href="{$catList.cat_image}" target="_blank">
                        <img src="{$catList.cat_logo}" height="50" width="50" alt="商品分类图片" title="商品分类图片">
                    </a>
                    <span class="notice-span" style="display:block; color:red ;font-weight:bold "  id="warn_brandlogo"><if condition="$catList.cat_logo neq ''">单击图片，查看高清大图！<else/>商品分类LOGO不存在，请上传！</if>
                </span>
                </td>
            </tr>
            <tr>
                <td class="label">关键字:</td>
                <td>
                    <textarea  name="cat_keywords" cols="60" rows="4"  >{$catList.cat_keywords}</textarea>
                    <span class="notice-span" style="display:block">相邻两个关键字之间用空格隔开</span>
                </td>
            </tr>
            <tr>
                <td class="label">分类描述:</td>
                <td>
                    <textarea  name="cat_desc" cols="60" rows="4"  >{$catList.cat_desc}</textarea>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="hidden" name="cat_id" value="{$catList.cat_id}" />
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>

<div id="footer">
共执行 3 个查询，用时 0.162348 秒，Gzip 已禁用，内存占用 2.266 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
</html>